.card-field {
  height: calc(100%);
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;

  .cards-grid {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 4), 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 16px;
  }

  .game-toolbar, .game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-size: 1.2rem;
    margin: 0 -16px;

    div:nth-child(2) {
      margin-inline-start: 32px;
      text-align: end;
    }

    button {
      margin: 0;
      padding: 4px 8px;
      font-size: 1.2rem;
    }
  }

  .game-header {
    font-size: 1.8rem;
  }
}
