.card.flip-card {
  position: relative;
  perspective: 500px;
  cursor: pointer;

  // for square element
  &::before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }

  .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 12px rgba(200, 200, 255, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
  }

  &.show-back-of-card .card-content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }

  .card-front,
  .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
    backface-visibility: hidden;
    font-size: 40px;
  }

  .card-back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg );
  }

  &.card-spin-animation {
    .card-content {
      animation: spinCard 1s;
    }

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        .card-content {
          animation-delay: .1s * $i;
        }
      }
    }
  }
}

@keyframes spinCard {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
